.register-page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: inherit;
  .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-register {
    .form-floating:focus-within {
      z-index: 2;
    }
    .form-username,
    .form-email,
    .form-password {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-re-password {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
