.todo-content {
  display: flex;
  flex-direction: column;
  .todo-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #323232;
    color: #e1e1e1;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: 0.5 ease;
    opacity: 1;
    &.done {
      opacity: 0.7;
      .todo-text {
        text-decoration: line-through;
      }
      .todo-remove {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .todo-text {
      flex: 1 1 auto;
    }
    .todo-box {
      flex: 0 0 30px;
    }
    .todo-remove {
      flex: 0 0 40px;
      text-align: center;
      display: none;
      cursor: pointer;
    }
  }
  .todo-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    .image-control {
      width: 220px;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
